
/*
 * Estilos de tu proyecto
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  float: right;
}


header{
  position: fixed; /*Hacemos que nuestro menu este fijo*/
  background: white;
  width: 100%;
  top:0;
}
