
/*
 * Estilos de tu proyecto
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
header{
  position: fixed; /*Hacemos que nuestro menu este fijo*/
  z-index: 10000;
  background: white;
  width: 100%;
  top:0;
}

img {
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #48C9B0;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  float: right;
}


.menu{
  height: 70px;
  background-color: #154360;
}

#boostrap{
  font-size: 34px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 30px;
}

/*Configuracion  Section "Box-Star"*/
.box-star{
  background-color: #48C9B0;
  position: relative;
  top: 70px;
  height: 470px;
  text-align: center;
}

/*Imagen*/

#imagen-start{
  position: absolute;
  top: 30px;
  right: 552px;
}
#text-start{
  position: absolute;
  color: #fff;
  bottom: 60px;
  right: 455px;
}

.box-portfolio{
  background-color: #fff;
  color: #154360;
  position: relative;
  top: 70px;
  height: 470px;
  text-align: center;
}


/*Funcionalidad del Modals*/


 .modal{
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(18, 102, 224, 0.3);
  top: 70px;
  left:0;
  text-align: center;
}

.modal_img{
  position: relative;
  width: 50%;
  height: 70vh;
  margin: 20px;
  text-align: center;
  border-radius: 5%;
  }

.modal_boton{
  width: 20px;
  height: 20px;
  font-weight: bold;
  background: transparent;
  position: absolute;
  z-index: 100;
  right: 270px;
  top: 20px;
  font-size: 35px;
  cursor: pointer;    
}

/*box-about*/

.box-about{
  position: relative;
  padding: 10px;
  margin: 0 auto;
  background-color: #48C9B0;
  color: white;
  text-align: justify;
  border-top: 100px solid;
  height: 570px;
}

.box-about h2 {
  text-align: center;
}

#right{
  float: right;
  width :400px;
  height: 300px;
  display: block;
}
#left{
  float: left;
  width :400px;
  height: 300px;
  display: block;
}

#download {
  text-align: center;
  position: inherit;
}































